<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header %>
</head>

<body>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
                <span class="mdc-top-app-bar__title">Title</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                <a href="#" id="search-button" class="material-icons mdc-top-app-bar__action-item" aria-label="Search groups">search</a>
            </section>
            <div class="search-bar">
                <div class="mdc-text-field">
                    <input class="mdc-text-field__input search-input" type="text" placeholder="Search Group" aria-label="Serach Group">
                </div>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" style="color:black;" aria-label="Search groups">search</a>
                </section>
            </div>
        </div>
    </header>

    <div class="mdc-top-app-bar--fixed-adjust"></div>

    <aside class="mdc-drawer mdc-drawer--dismissible">
        <div class="mdc-drawer__header">
            <h3 class="mdc-drawer__title">Alex Simion</h3>
            <h6 class="mdc-drawer__subtitle">alexsimion@unibuc.ro</h6>
        </div>
        <div class="mdc-drawer__content">
            <nav class="mdc-list">
                <a class="mdc-list-item" href="#" aria-selected="true" id="search-group">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>
                    <span class="mdc-list-item__text">Dashboard</span>
                </a>
                <div class="groups">
                    <a class="mdc-list-item mdc-list-item--activated" href="#" aria-selected="true">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">group</i>
                        <span class="mdc-list-item__text">My Groups</span>
                    </a>
                </div>
            </nav>
        </div>
    </aside>

    <div class="mdc-drawer-app-content dashboard">
        <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">class</span>
                                <span class="mdc-tab__text-label">Classes</span>
                            </span>
                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">assessment</span>
                                <span class="mdc-tab__text-label">GradeBook</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">calendar_today</span>
                                <span class="mdc-tab__text-label">Schedule</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">alarm</span>
                                <span class="mdc-tab__text-label">Deadlines</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab role=" tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">alarm</span>
                                <span class="mdc-tab__text-label">Group Projects</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab role=" tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">face</span>
                                <span class="mdc-tab__text-label">Members</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-card classes-container mdc-elevation--z7">
            <div class="class-list-container">
                <h1 class="titlu-class">Classes</h1>
                <ul class="mdc-list mdc-list--two-line classes-list" aria-orientation="vertical">
                    <li class="mdc-list-item active">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Computer Science</span>
                            <span class="mdc-list-item__secondary-text">CREDIT POINTS: 5</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Mathematics</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Complexity Analysis</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Computer Science</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Mathematics</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Complexity Analysis</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Computer Science</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Mathematics</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Complexity Analysis</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="courses-list-container">
                <ul class="mdc-list accordion js-accordion">
                    <li class="accordion__item js-accordion-item">
                        <div class="accordion-header js-accordion-header">Course 1
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">done</i></div>
                        <div class="accordion-body js-accordion-body">
                            <div class="accordion-body__contents">
                                <h3>Info: This course was about the Riemann Sum.</h3>
                                <h4>Date: 04/12/1998</h4>
                                <h4>Materials:</h4>
                                <ul class="mdc-list demo-list">
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Differential
                                        equations.pdf</li>
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Course1.ppt</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item js-accordion-item">
                        <div class="accordion-header js-accordion-header">Course 2
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">done</i></div>
                        <div class="accordion-body js-accordion-body">
                            <div class="accordion-body__contents">
                                <h3>Info: This course was about the Riemann Sum.</h3>
                                <h4>Date: 04/12/1998</h4>
                                <h4>Materials:</h4>
                                <ul class="mdc-list demo-list">
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Differential
                                        equations.pdf</li>
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Course1.ppt</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item js-accordion-item">
                        <div class="accordion-header js-accordion-header">Course 1
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true"></i></div>
                        <div class="accordion-body js-accordion-body">
                            <div class="accordion-body__contents">
                                <h3>Info: This course was about the Riemann Sum.</h3>
                                <h4>Date: 04/12/1998</h4>
                                <h4>Materials:</h4>
                                <ul class="mdc-list demo-list">
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Differential
                                        equations.pdf</li>
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Course1.ppt</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>

    <% include partials/footer %>
</body>

</html>