<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header %>
</head>

<body>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
                <span class="mdc-top-app-bar__title">Title</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                <a href="#" id="search-button" class="material-icons mdc-top-app-bar__action-item" aria-label="Search groups">search</a>
            </section>
            <div class="search-bar">
                <div class="mdc-text-field">
                    <input class="mdc-text-field__input search-input" type="text" placeholder="Search Group" aria-label="Serach Group">
                </div>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" style="color:black;" aria-label="Search groups">search</a>
                </section>
            </div>
        </div>
    </header>

    <div class="mdc-top-app-bar--fixed-adjust"></div>

    <aside class="mdc-drawer mdc-drawer--dismissible">
        <div class="mdc-drawer__header">
            <h3 class="mdc-drawer__title">Alex Simion</h3>
            <h6 class="mdc-drawer__subtitle">alexsimion@unibuc.ro</h6>
        </div>
        <div class="mdc-drawer__content">
            <nav class="mdc-list">
                <a class="mdc-list-item" href="#" aria-selected="true" id="search-group">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">dashboard</i>
                    <span class="mdc-list-item__text">Dashboard</span>
                </a>
                <div class="groups">
                    <a class="mdc-list-item mdc-list-item--activated" href="#" aria-selected="true">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">group</i>
                        <span class="mdc-list-item__text">My Groups</span>
                    </a>
                </div>
            </nav>
        </div>
    </aside>

    <div class="mdc-drawer-app-content dashboard">
        <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">class</span>
                                <span class="mdc-tab__text-label">Classes</span>
                            </span>
                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">assessment</span>
                                <span class="mdc-tab__text-label">GradeBook</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">calendar_today</span>
                                <span class="mdc-tab__text-label">Schedule</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">speaker_notes</span>
                                <span class="mdc-tab__text-label">News</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">alarm</span>
                                <span class="mdc-tab__text-label">Deadlines</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab role=" tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">group</span>
                                <span class="mdc-tab__text-label">Group Projects</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab role=" tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">face</span>
                                <span class="mdc-tab__text-label">Members</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Courses -->
        <div class="mdc-card classes-container tab-container" style="display: grid;">
            <div class="class-list-container">
                <h1 class="titlu-class">Classes</h1>
                <ul class="mdc-list mdc-list--two-line classes-list" aria-orientation="vertical">
                    <li class="mdc-list-item active">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Computer Science</span>
                            <span class="mdc-list-item__secondary-text">CREDIT POINTS: 5</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Mathematics</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Complexity Analysis</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Computer Science</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Mathematics</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Complexity Analysis</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Computer Science</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Mathematics</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Complexity Analysis</span>
                            <span class="mdc-list-item__secondary-text">Second-line text</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="courses-list-container">
                <ul class="mdc-list accordion js-accordion">
                    <li class="accordion__item js-accordion-item">
                        <div class="accordion-header js-accordion-header">Course 1
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">done</i></div>
                        <div class="accordion-body js-accordion-body">
                            <div class="accordion-body__contents">
                                <div class="leader-only" style="background: rgba(145, 145, 145, 0.1); padding:10px;">
                                    <h3>Upload a file</h3>
                                    <input type="file" name="myFile">
                                </div>
                                <h3>Info: This course was about the Riemann Sum.</h3>
                                <h3>Date: 04/12/1998</h3>
                                <h3>Materials:</h3>
                                <ul class="mdc-list demo-list">
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Differential
                                        equations.pdf</li>
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Course1.ppt</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item js-accordion-item">
                        <div class="accordion-header js-accordion-header">Course 1
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">done</i></div>
                        <div class="accordion-body js-accordion-body">
                            <div class="accordion-body__contents">
                                <div class="leader-only" style="background: rgba(145, 145, 145, 0.1); padding:10px;">
                                    <h3>Upload a file</h3>
                                    <input type="file" name="myFile">
                                </div>
                                <h3>Info: This course was about the Riemann Sum.</h3>
                                <h3>Date: 04/12/1998</h3>
                                <h3>Materials:</h3>
                                <ul class="mdc-list demo-list">
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Differential
                                        equations.pdf</li>
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Course1.ppt</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item js-accordion-item">
                        <div class="accordion-header js-accordion-header">Course 1
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">done</i></div>
                        <div class="accordion-body js-accordion-body">
                            <div class="accordion-body__contents">
                                <div class="leader-only" style="background: rgba(145, 145, 145, 0.1); padding:10px;">
                                    <h3>Upload a file</h3>
                                    <input type="file" name="myFile">
                                </div>
                                <h3>Info: This course was about the Riemann Sum.</h3>
                                <h3>Date: 04/12/1998</h3>
                                <h3>Materials:</h3>
                                <ul class="mdc-list demo-list">
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Differential
                                        equations.pdf</li>
                                    <li class="mdc-list-item mdc-ripple-upgraded"><span class="mdc-list-item__graphic material-icons"
                                            aria-hidden="true">get_app</span>Course1.ppt</li>
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <!-- Members -->
        <div class="mdc-card tab-container members-container" style="display: none;">
            <h1 class="titlu-class subliniat">Members</h1>
            <ul class="mdc-list demo-list mdc-list--two-line mdc-list--avatar-list">
                <li class="mdc-list-item mdc-ripple-upgraded" id="546e0678-de64-456f-b145-48eef06c211e" tabindex="-1"><img
                        class="mdc-list-item__graphic" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" /><span
                        class="mdc-list-item__text"><span class="mdc-list-item__primary-text">Statescu
                            Razvan</span><span class="mdc-list-item__secondary-text">22
                            Dec 2017</span></span><i class="fas fa-user-graduate"></i></li>
                <li class="mdc-list-item mdc-ripple-upgraded" id="546e0678-de64-456f-b145-48eef06c211e" tabindex="-1"><img
                        class="mdc-list-item__graphic" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" /><span
                        class="mdc-list-item__text"><span class="mdc-list-item__primary-text">Statescu Cioban</span><span
                            class="mdc-list-item__secondary-text">22
                            Dec 2017</span></span><i class="fas fa-user"></i></li>


            </ul>
        </div>

        <!-- GradeBook -->
        <div class="mdc-card tab-container grades-container" style="display: none;">
            <h1 class="titlu-class subliniat">GradeBook</h1>
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <td class='left row-header'>Course</td>
                        <td class='row-header'>Semester</td>
                        <td class='row-header'>Exam Grade</td>
                        <td class='row-header'>Final Grade</td>
                        <td class='row-header'>Credit Points</td>
                        <td class='row-header'>Credit Score</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class='left'>Mathematics</td>
                        <td>Sem 1</td>
                        <td>10</td>
                        <td>9</td>
                        <td>4</td>
                        <td>36</td>
                    </tr>

                    <tr>
                        <td class='left'>Mathematics</td>
                        <td>Sem 1</td>
                        <td>10</td>
                        <td>9</td>
                        <td>4</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td class='left'>Mathematics</td>
                        <td>Sem 1</td>
                        <td>10</td>
                        <td>9</td>
                        <td>4</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td class='left'>Mathematics</td>
                        <td>Sem 1</td>
                        <td>10</td>
                        <td>9</td>
                        <td>4</td>
                        <td>36</td>
                    </tr>
                </tbody>
            </table>
            <h2>Total GPA: 9.2</h2>
        </div>

        <!-- News -->
        <div class="mdc-card tab-container news-container" style="display: none;">
            <h1 class="titlu-class">News</h1>
            <div class="news-list">
                <div class="mdc-card">
                    <div class="mdc-card__primary-action mdc-ripple-upgraded" tabindex="0">
                        <div class="demo-card__primary">
                            <h2 class="demo-card__title mdc-typography--headline6">Deadline is due tomorrow</h2>
                            <h3 class="demo-card__subtitle mdc-typography--subtitle2">by Mr. Brown</h3>
                        </div>
                        <div class="demo-card__secondary mdc-typography--body2">The homework for machine learning is
                            tomorrow.</div>
                    </div>
                    <div class="mdc-card__actions">
                        <div class="mdc-card__action-buttons"><button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Read</button><button
                                class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Bookmark</button></div>
                        <div class="mdc-card__action-icons"><button class="mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                aria-pressed="false" aria-label="Add to favorites" title="Add to favorites" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;"><i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i><i
                                    class="material-icons mdc-icon-button__icon">favorite_border</i></button><button
                                class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                title="Share" data-mdc-ripple-is-unbounded="true" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">share</button><button
                                class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                title="More options" data-mdc-ripple-is-unbounded="true" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</button></div>
                    </div>
                </div>
                <div class="mdc-card">
                    <div class="mdc-card__primary-action mdc-ripple-upgraded" tabindex="0">
                        <div class="demo-card__primary">
                            <h2 class="demo-card__title mdc-typography--headline6">Deadline is due tomorrow</h2>
                            <h3 class="demo-card__subtitle mdc-typography--subtitle2">by Mr. Brown</h3>
                        </div>
                        <div class="demo-card__secondary mdc-typography--body2">The homework for machine learning is
                            tomorrow.</div>
                    </div>
                    <div class="mdc-card__actions">
                        <div class="mdc-card__action-buttons"><button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Read</button><button
                                class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Bookmark</button></div>
                        <div class="mdc-card__action-icons"><button class="mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                aria-pressed="false" aria-label="Add to favorites" title="Add to favorites" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;"><i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i><i
                                    class="material-icons mdc-icon-button__icon">favorite_border</i></button><button
                                class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                title="Share" data-mdc-ripple-is-unbounded="true" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">share</button><button
                                class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                title="More options" data-mdc-ripple-is-unbounded="true" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</button></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <% include partials/footer %>
</body>

</html>