<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header %>
</head>

<body>

    <body>
        <aside class="mdc-drawer mdc-drawer--dismissible">
            <div class="mdc-drawer__header">
                <h3 class="mdc-drawer__title">Alex Simion</h3>
                <h6 class="mdc-drawer__subtitle">alexsimion@unibuc.ro</h6>
            </div>
            <div class="mdc-drawer__content">
                <nav class="mdc-list">
                    <a class="mdc-list-item" href="#" aria-selected="true" id="search-group">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">search</i>
                        <span class="mdc-list-item__text">Find Groups</span>
                    </a>
                    <div class="groups">
                        <a class="mdc-list-item mdc-list-item--activated" href="#" aria-selected="true">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">group</i>
                            <span class="mdc-list-item__text">My Groups</span>
                        </a>
                    </div>

                </nav>
            </div>
        </aside>

        <div class="mdc-drawer-app-content">
            <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
                <div class="mdc-top-app-bar__row">
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
                        <span class="mdc-top-app-bar__title">Title</span>
                    </section>
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                        <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Search groups">search</a>
                    </section>
                </div>
            </header>

        </div>
    </body>

    <% include partials/footer %>
</body>

</html>