<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header %>
</head>

<body>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
                <span class="mdc-top-app-bar__title">Title</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                <a href="#" id="search-button" class="material-icons mdc-top-app-bar__action-item" aria-label="Search groups">search</a>
            </section>
            <div class="search-bar">
                <div class="mdc-text-field">
                    <input class="mdc-text-field__input search-input" type="text" placeholder="Search Group" aria-label="Serach Group">
                </div>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" style="color:black;" aria-label="Search groups">search</a>
                </section>
            </div>
        </div>
    </header>

    <div class="mdc-top-app-bar--fixed-adjust"></div>

    <aside class="mdc-drawer mdc-drawer--dismissible">
        <div class="mdc-drawer__header" id="user-info">
            <div class="mdc-drawer__title text-centered" style="margin-bottom: .5rem">
                You are not loged in
            </div>
            <div class="mdc-drawer__subtitle text-centered">
                <div class="mdc-button mdc-button--raised" id="login-button">log in</div>
                <div class="mdc-button mdc-button--raised" id="signup-button">sign up</div>
            </div>
        </div>
        <div class="mdc-drawer__content">
            <nav class="mdc-list" id="group-list">
                <p style="padding: 0 1rem 1rem 1rem">If you log in you can join and create groups</p>
            </nav>
        </div>
    </aside>

    <div class="mdc-drawer-app-content dashboard">
        <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">class</span>
                                <span class="mdc-tab__text-label">Classes</span>
                            </span>
                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">assessment</span>
                                <span class="mdc-tab__text-label">GradeBook</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">calendar_today</span>
                                <span class="mdc-tab__text-label">Schedule</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">speaker_notes</span>
                                <span class="mdc-tab__text-label">News</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">alarm</span>
                                <span class="mdc-tab__text-label">Deadlines</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab role=" tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">group</span>
                                <span class="mdc-tab__text-label">Group Projects</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab role=" tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">face</span>
                                <span class="mdc-tab__text-label">Members</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Courses -->
        <div class="mdc-card classes-container tab-container">
            <div class="class-list-container" id="class-list-container">
                
            </div>
            <div class="courses-list-container" id="courses-list-container">
                
            </div>
        </div>

        <!-- Members -->
        <div class="mdc-card tab-container members-container" style="display: none;">
            <h1 class="titlu-class subliniat">Members</h1>
            <ul class="mdc-list demo-list mdc-list--two-line mdc-list--avatar-list">
                <li class="mdc-list-item mdc-ripple-upgraded" id="546e0678-de64-456f-b145-48eef06c211e" tabindex="-1"><img
                        class="mdc-list-item__graphic" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" /><span
                        class="mdc-list-item__text"><span class="mdc-list-item__primary-text">Statescu
                            Razvan</span><span class="mdc-list-item__secondary-text">22
                            Dec 2017</span></span><i class="fas fa-user-graduate"></i></li>
                <li class="mdc-list-item mdc-ripple-upgraded" id="546e0678-de64-456f-b145-48eef06c211e" tabindex="-1"><img
                        class="mdc-list-item__graphic" src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" /><span
                        class="mdc-list-item__text"><span class="mdc-list-item__primary-text">Statescu Cioban</span><span
                            class="mdc-list-item__secondary-text">22
                            Dec 2017</span></span><i class="fas fa-user"></i></li>


            </ul>
        </div>

        <!-- GradeBook -->
        <div class="mdc-card tab-container grades-container" style="display: none;">
            <h1 class="titlu-class subliniat">GradeBook</h1>
            <table class='table table-hover'>
                <thead>
                    <tr>
                        <td class='left row-header'>Course</td>
                        <td class='row-header'>Semester</td>
                        <td class='row-header'>Exam Grade</td>
                        <td class='row-header'>Final Grade</td>
                        <td class='row-header'>Credit Points</td>
                        <td class='row-header'>Credit Score</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class='left'>Mathematics</td>
                        <td>Sem 1</td>
                        <td>10</td>
                        <td>9</td>
                        <td>4</td>
                        <td>36</td>
                    </tr>

                    <tr>
                        <td class='left'>Mathematics</td>
                        <td>Sem 1</td>
                        <td>10</td>
                        <td>9</td>
                        <td>4</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td class='left'>Mathematics</td>
                        <td>Sem 1</td>
                        <td>10</td>
                        <td>9</td>
                        <td>4</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td class='left'>Mathematics</td>
                        <td>Sem 1</td>
                        <td>10</td>
                        <td>9</td>
                        <td>4</td>
                        <td>36</td>
                    </tr>
                </tbody>
            </table>
            <h2>Total GPA: 9.2</h2>
        </div>

        <!-- News -->
        <div class="mdc-card tab-container news-container" style="display: none;">
            <h1 class="titlu-class">News</h1>
            <div class="news-list">
                <div class="mdc-card">
                    <div class="mdc-card__primary-action mdc-ripple-upgraded" tabindex="0">
                        <div class="demo-card__primary">
                            <h2 class="demo-card__title mdc-typography--headline6">Deadline is due tomorrow</h2>
                            <h3 class="demo-card__subtitle mdc-typography--subtitle2">by Mr. Brown</h3>
                        </div>
                        <div class="demo-card__secondary mdc-typography--body2">The homework for machine learning is
                            tomorrow.</div>
                    </div>
                    <div class="mdc-card__actions">
                        <div class="mdc-card__action-buttons"><button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Read</button><button
                                class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Bookmark</button></div>
                        <div class="mdc-card__action-icons"><button class="mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                aria-pressed="false" aria-label="Add to favorites" title="Add to favorites" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;"><i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i><i
                                    class="material-icons mdc-icon-button__icon">favorite_border</i></button><button
                                class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                title="Share" data-mdc-ripple-is-unbounded="true" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">share</button><button
                                class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                title="More options" data-mdc-ripple-is-unbounded="true" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</button></div>
                    </div>
                </div>
                <div class="mdc-card">
                    <div class="mdc-card__primary-action mdc-ripple-upgraded" tabindex="0">
                        <div class="demo-card__primary">
                            <h2 class="demo-card__title mdc-typography--headline6">Deadline is due tomorrow</h2>
                            <h3 class="demo-card__subtitle mdc-typography--subtitle2">by Mr. Brown</h3>
                        </div>
                        <div class="demo-card__secondary mdc-typography--body2">The homework for machine learning is
                            tomorrow.</div>
                    </div>
                    <div class="mdc-card__actions">
                        <div class="mdc-card__action-buttons"><button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Read</button><button
                                class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Bookmark</button></div>
                        <div class="mdc-card__action-icons"><button class="mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                aria-pressed="false" aria-label="Add to favorites" title="Add to favorites" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;"><i
                                    class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i><i
                                    class="material-icons mdc-icon-button__icon">favorite_border</i></button><button
                                class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                title="Share" data-mdc-ripple-is-unbounded="true" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">share</button><button
                                class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                                title="More options" data-mdc-ripple-is-unbounded="true" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</button></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <div class="mdc-dialog" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title" aria-describedby="my-dialog-content">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title" id="mdc-dialog-title">
                    Login
                </h2>
                <div class="mdc-dialog__content" id="mdc-dialog-content">
                    Dialog body text goes here.
                </div>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">cancel</button>
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes" id="confirm-button">login</button>
                </footer>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>

    <% include partials/footer %>
</body>

</html>