<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header %>
</head>

<body>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
                <span class="mdc-top-app-bar__title">Title</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                <a href="#" id="search-button" class="material-icons mdc-top-app-bar__action-item" aria-label="Search groups">search</a>
            </section>
            <div class="search-bar">
                <div class="mdc-text-field">
                    <input class="mdc-text-field__input search-input" type="text" placeholder="Search Group" aria-label="Serach Group">
                </div>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <a href="#" class="material-icons mdc-top-app-bar__action-item" style="color:black;" aria-label="Search groups">search</a>
                </section>
            </div>
        </div>
    </header>

    <div class="mdc-top-app-bar--fixed-adjust"></div>

    <aside class="mdc-drawer mdc-drawer--dismissible">
        <div class="mdc-drawer__header" id="user-info">
            <div class="mdc-drawer__title text-centered" style="margin-bottom: .5rem">
                You are not loged in
            </div>
            <div class="mdc-drawer__subtitle text-centered">
                <div class="mdc-button mdc-button--raised" id="login-button">log in</div>
                <div class="mdc-button mdc-button--raised" id="signup-button">sign up</div>
            </div>
        </div>
        <div class="mdc-drawer__content">
            <nav class="mdc-list" id="group-list">
                <p style="padding: 0 1rem 1rem 1rem">If you log in you can join and create groups</p>
            </nav>
        </div>
    </aside>

    <div class="mdc-drawer-app-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga saepe, debitis assumenda neque omnis quo,
        distinctio, ab similique praesentium obcaecati harum tempora quam expedita quibusdam odit ullam dolorem
        pariatur. Illum.
    </div>

    <div class="mdc-dialog"
        role="alertdialog"
        aria-modal="true"
        aria-labelledby="my-dialog-title"
        aria-describedby="my-dialog-content">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title" id="my-dialog-title">
                    Login
                </h2>
                <div class="mdc-dialog__content" id="my-dialog-content">
                    Dialog body text goes here.
                </div>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">cancel</button>
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes" id="confirm-button">login</button>
                </footer>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>

    <% include partials/footer %>
</body>

</html>