<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Webpack Start</title>
<meta name="theme-color" content="#3f51b5">
<link rel="icon" sizes="192x192" href="icon_192x192.png">
<link rel="icon" sizes="152x152" href="icon_152x152.png">
<link rel="icon" sizes="144x144" href="icon_144x144.png">
<link rel="icon" sizes="128x128" href="icon_128x128.png">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="msapplication-starturl" content="/">
<link rel="manifest" href="manifest.json">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">